@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --border-color-fill: #3498db;
  --border-color-no-fill: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 380px;
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.progress {
  position: absolute;
  background-color: var(--border-color-fill);
  height: 4px;
  width: 0%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease-in;
  z-index: -1;
}

.progress-container::before {
  content: "";
  position: absolute;
  background-color: var(--border-color-no-fill);
  height: 4px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--border-color-no-fill);
  transition: 0.3s ease;
}

.circle.active {
  border-color: var(--border-color-fill);
}

.btn {
  border: none;
  background-color: var(--border-color-fill);
  color: #eee;
  padding: 8px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  font-family: inherit;
}

.btn:active {
  transform: scale(0.8);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--border-color-no-fill);
}
